* {
    margin: 0;
    font-family: monospace;
    border-radius: 8px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    border-bottom: 1px solid #ccc;
}

.image-caption span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    font-weight: 550;
}

main {
    padding: 2rem 8rem;
}

main h1 {
    margin-bottom: 1rem;
    font-weight: 500;
}

nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: inline-flex;
    gap: 0.5rem;
}

nav a:hover {
    background: #e7e6e6;
}

nav a.active {
    background-color: black;
    color: white
}

nav a.active img {
    filter: invert(1);
}


nav a.active:hover {
    background-color: black;
    color: white;
}


.image-caption {
    display: flex;
    align-items: center;
    /* vertical alignment in the middle */
    gap: 8px;
    /* space between image and text */
}

.search {
    display: flex;
    padding: 3rem 0;
    display: flex;
    gap: 1.5rem;
    height: 2.5rem;
}

/* Input */

.input-wrapper {
    display: flex;
    flex: 0.9;
    align-items: center;
    background-color: rgb(243, 243, 245);
}

.input-wrapper .prefix {
    width: 20px;
    height: 20px;
    margin: 0 6px;
}

.input-wrapper input {
    border: none;
    padding: 0;
    height: 100%;
    flex: 1;
    background-color: rgb(243, 243, 245);
}


.input-wrapper:focus-within {
    border-color: black;
    /* green border */
    box-shadow: 0 0 5px rgba(70, 70, 70, 0.5);
    /* subtle glow */
}

.search input[type="text"]:focus {
    outline: none;
}

/* Button */

.search button {
    flex: 0.1;
    border: none;
    background-color: #000;
    color: white;
}

/* Select */

.search select {
    background-color: rgb(243, 243, 245);
    padding: 0 1.5rem;
    border: none;
}

.products {
    padding-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 40px;
}

/* Product card */

.product-card {
    border: 1px solid gray;
    padding: 1.5rem;
    transition: all 0.3s ease;
    flex-direction: column;
}

.product-card img {
    width: 100%;
    height: 280px;
    margin-bottom: 0.5rem;
}

.product-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0rem 1rem 0;
    gap: 8px;
}

.product-category {
    background-color: rgb(243, 243, 245);
    padding: 0.3rem 0.6rem;
}

.product-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
}

.product-footer button {
    border: none;
    background-color: #000;
    color: white;
    padding: 0.5rem 1rem;
}

.product-footer .product-price {
    font-weight: 600;
    font-size: 18px;
}


.product-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}